<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>查看拍卖</string>
			<key>UIApplicationShortcutItemType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>2</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>好友聊天</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>3</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>活动</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>China</string>
	<key>CFBundleDisplayName</key>
	<string>梦幻西游MG</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>mt9176.png</string>
		<string>mt91120.png</string>
		<string>mt91152.png</string>
		<string>mt9172.png</string>
		<string>mt9157.png</string>
		<string>mt91114.png</string>
		<string>mt91144.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>mt9176.png</string>
				<string>mt91120.png</string>
				<string>mt91152.png</string>
				<string>mt9172.png</string>
				<string>mt9157.png</string>
				<string>mt91114.png</string>
				<string>mt91144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.locojoy.mini.${PRODUCT_NAME:rfc1034identifier}91</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>mticon72</string>
			<key>CFBundleURLName</key>
			<string>com.locojoy.mini.mt391</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>91-com.locojoy.mini.mt391</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Localization native development region</key>
	<string>China</string>
	<key>NSMainNibFile</key>
	<string>MainWindow_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow_iPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
