<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>latest_version</key>
	<string>最新版本：</string>
	<key>current_version</key>
	<string>当前版本：</string>
	<key>appsrc</key>
	<string>locojoy</string>
	<key>str1</key>
	<string>mt3精彩活动不断，超值奖励等你拿！</string>
	<key>str3</key>
	<string>更新失败</string>
	<key>str4</key>
	<string>请确保网络畅通后重试！</string>
	<key>str5</key>
	<string>退出</string>
	<key>str6</key>
	<string>重试</string>
	<key>str7</key>
	<string>此次更新共计%fMB，是否继续？</string>
	<key>str7_1</key>
	<string>此次更新共计%fMB，建议前往商店下载最新版客户端</string>
	<key>str8</key>
	<string>提示</string>
	<key>str9</key>
	<string>取消</string>
	<key>str10</key>
	<string>继续</string>
	<key>str11</key>
	<string>发现新版本，请更新客户端后进行游戏</string>
	<key>str12</key>
	<string>升级提示</string>
	<key>str13</key>
	<string>立即升级</string>
	<key>TooLargeSize_1</key>
	<integer>80</integer>
	<key>str15</key>
	<string>资源配置错误！</string>
	<key>str16</key>
	<string>文件出错，请重新安装游戏！</string>
	<key>str17</key>
	<string>确定</string>
	<key>meiqiaGroupID</key>
	<string>f00eb2f959d983f9516de48dd02d103d</string>
	<key>upformstr11</key>
	<string>获取版本信息失败，是否重试？</string>
	<key>upformstr21</key>
	<string>版本过旧，请前往AppStore更新</string>
	<key>upformstr31</key>
	<string>获取文件列表失败，是否重试？</string>
	<key>upformstr41</key>
	<string>检测到新版本可以更新，本次更新包文件大小约为</string>
	<key>upformstr42</key>
	<string>，点击确定下载更新，点击取消退出游戏</string>
	<key>upformstr51</key>
	<string>下载失败，请检查网络状态和设备存储空间是否足够，是否重试？</string>
	<key>upformstrok</key>
	<string>确定</string>
	<key>upformstrcancel</key>
	<string>取消</string>
	<key>upformstrtitle</key>
	<string>版本更新</string>
	<key>upformstrwifi</key>
	<string>建议在WiFi网络下进行更新</string>
	<key>upmgrstr11</key>
	<string>正在连接服务器...</string>
	<key>upmgrstr21</key>
	<string>更新完成</string>
	<key>upmgrstr31</key>
	<string>版本检测中...</string>
	<key>upmgrstr32</key>
	<string>更新完成</string>
	<key>upmgrstr61</key>
	<string>自动更新中...</string>
	<key>upmgrstr71</key>
	<string>更新完成</string>
</dict>
</plist>
