<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>pcre.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pcregrep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pcreposix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>pcretest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C53A281C24646B5B9F0062C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D00EFF2998142508F2F5259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2567DA828B6F486B822579EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>265BC46328134B2BB79001C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A68D58B15DA695500739084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A35F063F2C954A7BA49323F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD8ECAA7924546EF94BD4119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD5E59614904089AFBC322B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C8E39528004C3DAD0B22B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
