<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<dict>
		<key>time</key>
		<real>7.5</real>
		<key>animatetime</key>
		<real>1.5</real>
		<key>images</key>
		<array>
			<string>loadingback1.jpg</string>
		</array>
	</dict>
	<key>progress</key>
	<dict>
		<key>time</key>
		<real>0.8</real>
		<key>images</key>
		<array>
			<string>load001.png</string>
		</array>
	</dict>
	<key>jumpact</key>
	<dict>
		<key>time</key>
		<real>1.1</real>
		<key>images</key>
		<array>
			<string>jump001.png</string>
		</array>
	</dict>
</dict>
</plist>
