<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	 version="2.5">
	<display-name>gameupload</display-name>
	<filter>
		<filter-name>uploadFilter</filter-name>
		<filter-class>com.world2.auth.AuthFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value></param-value>
		</init-param>		
	</filter>
	<filter-mapping>
		<filter-name>uploadFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<display-name>FileSaveServlet</display-name>
		<servlet-name>FileSaveServlet</servlet-name>
		<servlet-class>servlet.FileSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileSaveServlet</servlet-name>
		<url-pattern>/FileSaveServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>FileListServlet</display-name>
		<servlet-name>FileListServlet</servlet-name>
		<servlet-class>servlet.FileListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileListServlet</servlet-name>
		<url-pattern>/fileList</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>FileDownloadServlet</display-name>
		<servlet-name>FileDownloadServlet</servlet-name>
		<servlet-class>servlet.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileDownloadServlet</servlet-name>
		<url-pattern>/fileDownload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteFileServlet</servlet-name>
		<servlet-class>servlet.DeleteFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFileServlet</servlet-name>
		<url-pattern>/deleteFile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>FileUploadWithInfoServlet</display-name>
		<servlet-name>FileUploadWithInfoServlet</servlet-name>
		<servlet-class>servlet.FileUploadWithInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadWithInfoServlet</servlet-name>
		<url-pattern>/FileUploadWithInfoServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
