<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CEGUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CEGUIBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CEGUICocos2DRender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CEGUIFalagardWRBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CEGUIImageCodec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CEGUILuaScriptModule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CEGUIXmlParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A82E287167F4E1300C8C695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC044B15EBA17E00E36EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC046615EBA26C00E36EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC047915EBA31500E36EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC048815EBA33C00E36EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC049715EBA35700E36EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC04A615EBA37000E36EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
